<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to Ener the link below, <%= @user.username %></h1>
       
    <!--   <p>
         To login to the site, just follow this link: 
         <%#=  %>.
      </p> -->

      <a href="http://localhost:3000/user_conf/<%= @user.confirmation_token %>/<%= @user.email %>"><button>Click here to activate</button> </a>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>